extends ./../layouts/main.pug
block title
    p(class="warn") Your order has been cancelled!
block description
    p(class="warn") Here are the items that were in your order
    table(class="list" border="1")
        for item in order.items
            tr
                td
                    p #{item.title}
                td
                    img(src=item.thumbnail)
                td
                    p #{item.unit_price / 100} #{order.currency_code === 'usd' ? '$' : order.currency_code} x#{item.quantity}
        for item in order.shipping_methods
            tr
                td(colspan="2")
                    p #{item.shipping_option.name}
                td
                    p #{item.shipping_option.amount / 100} #{order.currency_code === 'usd' ? '$' : order.currency_code}
        tr
            td(colspan="2")
                p(class="align-right bold") Total
            td
                p(class="bold") #{total_value} #{order.currency_code === 'usd' ? '$' : order.currency_code}
    p(class="small") Order ID: #{order.id}
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
